/* app container */
.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; 
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #ceae9dff;
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: rgb(202, 149, 120);
}

.SidebarList #active {
  background-color: rgb(202, 149, 120);
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.add_button {
  border-radius: 50%;
  border: 2px solid lightcoral;
  color: lightcoral;
  font-size: 24px;
  background-color: white;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.add_button:hover {
  background-color: lightcoral;
  color: white;
  transition-duration: 0.4s;
}

.category  {
  width: 15%;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  background-color: #f1e7d8;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
}

.category > h2 {
  width: 80%;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.title{
  color: #5b4525;
  cursor: pointer;
}

.Work {
  background-color: #130c01;
}

