/* app container */
 .app>h1 {
  color: #5b4525;
} 

.app>h2 {
  color: #5b4525;
} 




body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; 
  background: rgb(232,177,131);
  background: linear-gradient(90deg, rgba(232,177,131,1) 0%, rgba(235,162,164,1) 35%, rgba(198,106,146,1) 91%);
}

.whole_container{
  display: flex;
  flex-direction: row;

}

.container_top{
  display: flex;
}

.Sidebar {
  height: 100vh;
  width: 250px;
  background-color: rgb(232,177,131);
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: rgb(202, 149, 120);
}

.SidebarList #active {
  background-color: rgb(202, 149, 120);
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.add_button {
  border-radius: 50%;
  border: 2px solid lightcoral;
  color: lightcoral;
  font-size: 24px;
  background-color: white;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.add_button:hover {
  background-color: lightcoral;
  color: white;
  transition-duration: 0.4s;
}

.category  {
  width: 200px;
  max-width: 800px;
  margin: 20px ;
  padding: 20px;
  background-color: #201d19;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
  height: max-content;
}

.category_container{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
}

.category > h2 {
  width: 80%;
  border-width: 2px;
  border: solid;
  border-color: white;
  color: white;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); */
}

.title{
  color: #5b4525;
  cursor: pointer;
}
.Work{
  background-color: #e8b183;
}
.Self-Care{
  background-color: #e6bc9a;
}
.Household{
  background-color: #eba2a4;
}
.Health{
  background-color: #e49396;
}
.Gifts{
  background-color: #c66a92;
}

/* MODAL BUTTON */

.App .openModalBtn {
  border-radius: 50%;
  border: 2px solid lightcoral;
  color: lightcoral;
  font-size: 24px;
  background-color: white;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.App .openModalBtn:hover {
  background-color: lightcoral;
  color: white;
  transition-duration: 0.4s;
}

.modalContainer {
  width: max-content;
  height: max-content;
  border-radius: 5px;
  background-color: #ceae9dff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  background-color: rgb(202, 149, 120);
  color: white;
  border: solid;
  border-color: rgb(202, 149, 120);
  border-radius: 20px;
  height: 40px; 
  width: 100px;
  cursor: pointer;
  font-style: bold;
  margin-right: 10px;
}

.modalContainer .footer button:hover {
  background-color: white;
  border-color: rgb(202, 149, 120);
  border-width: 2px;
  color: rgb(202, 149, 120);
  transition-duration: 0.4s;
  font-weight: bold;
}

#cancelBtn {
  background-color: white;
}

.grey-title {
  background-color: #B0B0B0;
}