/* app container */
.app>h1 {
  color: #5b4525;
}

.app>h2 {
  color: #5b4525;
}

.header {
  display: flex;
  background-color: white;
}

.header img {
  max-width: 100px;
}

.header h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: right;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background: rgb(232,177,131);
  background: linear-gradient(90deg, rgba(232,177,131,1) 0%, rgba(235,162,164,1) 35%, rgba(198,106,146,1) 91%); */
  background-color: hsla(0, 100%, 50%, 1);
  background-image:
    radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

.whole_container {
  display: flex;
  flex-direction: row;

}

.container_top {
  display: flex;
}

.Sidebar {
  height: 100vh;
  width: 150px;
  background-color: white;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: lightcoral;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: lightcoral;
}

.SidebarList #active {
  background-color: lightcoral;
  color: white;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.add_button {
  border-radius: 50%;
  border: 2px solid lightcoral;
  color: lightcoral;
  font-size: 24px;
  background-color: white;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.add_button:hover {
  background-color: lightcoral;
  color: white;
  transition-duration: 0.4s;
}

.category {
  width: 200px;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #201d19;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  height: max-content;
}

.category_container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
}

.category>h2 {
  width: 80%;
  border-width: 2px;
  border: solid;
  border-color: white;
  color: white;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); */
}

.title {
  color: white;
  cursor: pointer;
}

.Work {
  background-color: #faa1755b;

}

.Self-Care {
  background-color: #ff8b6181;

}

.Household {
  background-color: #ce6a8570;

}

.Health {
  background-color: #98527767;

}

.Gifts {
  background-color: #5c374c64;

}

.container_bottom {
  text-align: right;
}

/* MODAL BUTTON */

.openModalBtn {
  border-radius: 50%;
  border: 2px solid lightcoral;
  color: lightcoral;
  font-size: 24px;
  background-color: white;
  height: 2em;
  width: 2em;
  cursor: pointer;
  right: 0;
  margin: 1rem;
}

.openModalBtn:hover {
  background-color: lightcoral;
  color: white;
  transition-duration: 0.4s;
}

.modalContainer {
  width: max-content;
  height: max-content;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.modalContainer p {
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.modalContainer .footer button {
  background-color: lightcoral;
  color: white;
  border: solid;
  border-color: lightcoral;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-style: bold;
  margin-right: 10px;
}

.modalContainer .footer button:hover {
  background-color: white;
  border-color: lightcoral;
  border-width: 2px;
  color: lightcoral;
  transition-duration: 0.4s;
  font-weight: bold;
}

#cancelBtn {
  background-color: white;
}

.list-design .add-item-button {
  background-color: lightcoral;
  color: white;
  border: solid;
  border-color: lightcoral;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

 .list-design .add-item-button:hover {
  background-color: white;
  border-color: lightcoral;
  border-width: 2px;
  color: lightcoral;
  transition-duration: 0.4s;
  font-weight: bold;
 }
 
  .grey-title {
  background-color: #B0B0B0;
  }